@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600&display=swap");

:root {
  --laranja: #ff7800;
  --preto: #130f40;
  --cinza: #666;
  --box-shadow: 0 0.5 1rem rgba(0, 0, 0, 0.1);
  --borda: 0.2rem solid rgba(0, 0, 0, 0.1);
  --outline: 0.1rem solid rgba(0, 0, 0, 0.1);
  --outline-hover: 0.2rem solid var(--preto);
}

* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s all linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;
}

body {
  background-color: #eee;
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 0.8rem 3rem;
  font-size: 1.7rem;
  border-radius: 0.5rem;
  border: 0.2rem solid var(--preto);
  color: var(--cinza);
  cursor: pointer;
}

.btn:hover {
  background: var(--laranja);
  color: #fff;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  /*top, left e right = 0 faz com que o header fique no topo e ocupe toda a largura*/
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 8%;
  background-color: #fff;
  box-shadow: var(--box-shadow);
}

.header .logo {
  font-size: 2.5rem;
  font-weight: bolder;
  color: var(--preto);
}

.header .logo i {
  color: var(--laranja);
}

.header .navbar a {
  font-size: 1.7rem;
  margin: 0 1rem;
  color: var(--preto);
}

.header .navbar a:hover {
  color: var(--laranja);
}

.header .icons div {
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  border-radius: 0.5rem;
  background-color: #eee;
  color: var(--preto);
  font-size: 2rem;
  margin-right: 0.3rem;
  cursor: pointer;
  text-align: center;
}

.header .icons div:hover {
  background-color: var(--laranja);
  color: #fff;
}

#menu-btn {
  display: none;
}

.header .form-busca {
  position: absolute;
  top: 110%;
  /* right: 2rem; */
  right: -110%; /*para esconder o form de busca. Será exibido quando o ícone de busca for clicado (busca-btn)*/
  width: 50rem;
  height: 5rem;
  background-color: #fff;
  border-radius: 0.5rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  box-shadow: var(--box-shadow);
}

.header .form-busca.form-busca-ativo {
  right: 2rem;
  transition: 0.3s linear;
}

.header .form-busca input {
  height: 100%;
  width: 100%; /*width 100% joga lupa para o canto direito*/
  background: none;
  text-transform: none;
  font-size: 1.6rem;
  color: var(--preto);
  padding: 0 1.5rem;
}

.header .form-busca label {
  font-size: 2.2rem;
  padding-right: 1.5rem;
  color: var(--preto);
  cursor: pointer;
}

.header .form-busca label:hover {
  color: var(--laranja);
}

/*Carrinho de compras*/
.header .carrinho-compras {
  position: absolute;
  top: 110%;
  right: -110%; /*Inicialmente com 2rem para montarmos o carrinho. Depois, -110% para esconder o carrinho e o exibirmos ao clicramos no botão na nav*/
  padding: 1rem;
  box-shadow: var(--box-shadow);
  width: 35rem;
  background: #fff;
}

.header .carrinho-compras.ativo {
  right: 2rem;
  transition: 0.3s linear;
}

.header .carrinho-compras .box {
  display: flex;
  align-items: center;
  gap: 1rem;
  position: relative;
  margin: 1rem 0;
}

.header .carrinho-compras .box img {
  height: 10rem;
  border-radius: 10px;
}

.header .carrinho-compras .box .fa-trash {
  font-size: 2rem;
  position: absolute;
  top: 50%;
  right: 2rem;
  cursor: pointer;
  color: var(--cinza);
  transform: translateY(-50%);
  /* margin-left: 1rem; */
}

.header .carrinho-compras .box .fa-trash:hover {
  color: var(--laranja);
}

.header .carrinho-compras .box .conteudo {
  /* margin-right: 3rem; */
  display: flex;
  flex-direction: column;
}

.header .carrinho-compras .box .conteudo h3 {
  color: var(--preto);
  font-size: 1.7rem;
  padding-bottom: 1rem;
}

.header .carrinho-compras .box .conteudo span {
  color: var(--cinza);
  font-size: 1.6rem;
}

/* .header .carrinho-compras .box .conteudo .quantidade {
  padding-left: 1rem;
} */

.header .carrinho-compras .total {
  font-size: 2.5rem;
  padding: 1rem 0;
  text-align: center;
  color: var(--preto);
}

.header .carrinho-compras .btn {
  display: block; /*Usa toda a largura*/
  text-align: center;
  margin: 1rem;
}
